<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.ergate.board.model.vo.Board" alias="Board" />
	</typeAliases>
	
	
	<mappers>
		<mapper resource="mappers/attendance-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/common-mapper.xml"/>
		<mapper resource="mappers/group-mapper.xml"/>
		<mapper resource="mappers/mail-mapper.xml"/>
		<mapper resource="mappers/main-mapper.xml"/>
		<mapper resource="mappers/meetingroom-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/schedule-mapper.xml"/>
		<mapper resource="mappers/sign-mapper.xml"/>
		<mapper resource="mappers/vehicle-mapper.xml"/>
	</mappers>
	
	
</configuration>


