<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
   
   <settings>
      <setting name="jdbcTypeForNull" value="NULL"/>
   </settings>
   
   <typeAliases>
      <typeAlias type="com.kh.ergate.main.model.vo.Employee" alias="Employee"/>
      <typeAlias type="com.kh.ergate.main.model.vo.Department" alias="Department"/>
      <typeAlias type="com.kh.ergate.main.model.vo.Rank" alias="Rank"/>
      <typeAlias type="com.kh.ergate.main.model.vo.Job" alias="Job"/>
      <typeAlias type="com.kh.ergate.board.model.vo.Board" alias="Board" />
      <typeAlias type="com.kh.ergate.notice.model.vo.Notice" alias="Notice"/>
      <typeAlias type="com.kh.ergate.board.model.vo.Reply" alias="Reply" />
      <typeAlias type="com.kh.ergate.board.model.vo.ReReply" alias="ReReply" />
      <typeAlias type="com.kh.ergate.board.model.vo.BoardAttachment" alias="BoardAttachment" />
      <typeAlias type="com.kh.ergate.meetingroom.model.vo.Meetingroom" alias="Meetingroom"/>
      <typeAlias type="com.kh.ergate.meetingroom.model.vo.MeetingroomDate" alias="MeetingroomDate"/>
      <typeAlias type="com.kh.ergate.meetingroom.model.vo.MeetingroomReservation" alias="MeetingroomReservation"/>
      <typeAlias type="com.kh.ergate.meetingroom.model.vo.MeetingroomDate" alias="MeetingroomDate"/>
      <typeAlias type="com.kh.ergate.sign.model.vo.SignAttachment" alias="SignAttachment"/>
      <typeAlias type="com.kh.ergate.sign.model.vo.SignDocument" alias="SignDocument" />
      <typeAlias type="com.kh.ergate.sign.model.vo.Signer" alias="Signer" />
      <typeAlias type="com.kh.ergate.vehicle.model.vo.Vehicle" alias="Vehicle"/>
      <typeAlias type="com.kh.ergate.vehicle.model.vo.VehicleReservation" alias="VehicleReservation"/>
      <typeAlias type="com.kh.ergate.group.model.vo.Search" alias="Search" />
      <typeAlias type="com.kh.ergate.attendance.model.vo.Holiday" alias="Holiday"/>
      <typeAlias type="com.kh.ergate.attendance.model.vo.WorkRecord" alias="WorkRecord"/>      
      <typeAlias type="com.kh.ergate.attendance.model.vo.UseHoliday" alias="UseHoliday"/>
      <typeAlias type="com.kh.ergate.attendance.model.vo.HolidayType" alias="HolidayType"/>      
       <typeAlias type="com.kh.ergate.attendance.model.vo.WorkTime" alias="WorkTime"/>
	  <typeAlias type="com.kh.ergate.schedule.model.vo.Schedule" alias="Schedule" />
	  <typeAlias type="com.kh.ergate.mail.model.vo.Email" alias="Email" />
	  <typeAlias type="com.kh.ergate.mail.model.vo.MailAttachment" alias="MailAttachment" />
   </typeAliases>
   
   
   <mappers>
      <mapper resource="mappers/attendance-mapper.xml"/>
      <mapper resource="mappers/board-mapper.xml"/>
      <mapper resource="mappers/common-mapper.xml"/>
      <mapper resource="mappers/group-mapper.xml"/>
      <mapper resource="mappers/mail-mapper.xml"/>
      <mapper resource="mappers/main-mapper.xml"/>
      <mapper resource="mappers/meetingroom-mapper.xml"/>
      <mapper resource="mappers/notice-mapper.xml"/>
      <mapper resource="mappers/schedule-mapper.xml"/>
      <mapper resource="mappers/sign-mapper.xml"/>
      <mapper resource="mappers/vehicle-mapper.xml"/>
   </mappers>
   
   
</configuration>

