<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">
	
	<resultMap id="holidayResultSet" type="Holiday">
		<id column="HOLIDAY_NO" property="holidayNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="HDAY" property="hday"/>
		<result column="USEDAY" property="useday"/>
		<result column="REMAIN_DAY" property="remainDay"/>
		<result column="YEAR" property="year"/>
		<result column="USE_HOLIDAY_NO" property="useHolidayNo"/>
		<result column="HOLIDAY_TYPECODE" property="holidayTypeCode"/>
		<result column="HOLIDAY_START" property="holidayStart"/>
		<result column="HOLIDAY_END" property="holidayEnd"/>
		<result column="HOLIDAY_USECOUNT" property="holidayUsecount"/>
		<result column="HOLIDAY_TYPE" property="holidayType"/>
		<result column="HOLIDAY_COUNT" property="holidayCount"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="DEPT_TITLE" property="deptTitle"/>
		<result column="RANK_TITLE" property="rankTitle"/>
		<result column="JOB_TITLE" property="jobTitle"/>
		<result column="HIRE_DATE" property="hireDate"/>
	</resultMap>
	
	<resultMap id="workRecordResult" type="WorkRecord">
		<id column="WORKRECORD_NO" property="workRecordNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="CLOCK_IN" property="clockIn"/>
		<result column="CLOCK_OUT" property="clockOut"/>
		<result column="WORK_DATE" property="workDate"/>	
	</resultMap>
	
	<resultMap id="useHolidayResult" type="UseHoliday">
		<id column="USE_HOLIDAY_NO" property="useHolidayNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="HOLIDAY_TYPECODE" property="holidayTypeCode"/>
		<result column="HOLIDAY_START" property="holidayStart"/>
		<result column="HOLIDAY_END" property="holidayEnd"/>	
		<result column="HOLIDAY_USECOUNT" property="holidayUsecount"/>		
		<result column="HOLIDAY_TYPE" property="holidayType"/>
		<result column="HOLIDAY_COUNT" property="holidayCount"/>
		<result column="YEAR" property="year"/>		
			
	</resultMap>
	

	<!-- 근태관리 리스트 조회용 - 첫페이지에 뿌려지는 ajax -->
	<select id="selectAtMgListAjax" parameterType="string" resultMap="holidayResultSet">
		select emp_name, rank_title, job_title, emp_id, dept_title
		  from employee e	
		  join rank r on e.rank_code=r.rank_code
		  join job j on e.job_code=j.job_code
		  join department d on e.dept_code=d.dept_code
		 where resign_flag='N' 
		       and r.rank_Code is not null
		       and extract (year from e.hire_date)<![CDATA[ <= ]]> #{year}
		 order by emp_name
	</select>
	
	<!-- 근태관리 부서별 사원 조회 - 가운데 부분 ajax -->
	<select id="selectAtMgdeptEmpList" parameterType="Search" resultMap="holidayResultSet" >
		select emp_name, rank_title, job_title, emp_id, dept_title, e.hire_date
		  from employee e	
		  join rank r on e.rank_code=r.rank_code
		  join job j on e.job_code=j.job_code
		  join department d on e.dept_code=d.dept_code
		 where resign_flag='N' 
		       and r.rank_Code is not null
		       and extract (year from e.hire_date)<![CDATA[ <= ]]> #{year}
		<choose>
	 		<when test="keyword.equals('D0')">
	 			and e.dept_code='D0'
	 		</when>
	 		<when test="keyword.equals('D1')">
	 			and e.dept_code='D1'
	 		</when>
	 		<when test="keyword.equals('D2')">
	 			and e.dept_code='D2'
	 		</when>
	 		<when test="keyword.equals('D3')">
	 			and e.dept_code='D3'
	 		</when>
	 		<when test="keyword.equals('D4')">
	 			and e.dept_code='D4'
	 		</when>
	 		<when test="keyword.equals('D5')">
	 			and e.dept_code='D5'
	 		</when>
	 	</choose>
		 order by emp_name
		
	</select>
	
	<!-- 사원별 근태현황 상세 조회용 -->
	<select id="selectAtMgDetail" parameterType="Holiday" resultMap="holidayResultSet">
		select h.hday, h.useday, h.remain_day, uh.holiday_usecount,
		       uh.holiday_start, uh.holiday_end,
		       ht.holiday_type, emp_name, rank_title, dept_title
		  from holiday h
		  join use_holiday uh using (emp_id)
		  join holiday_type ht using (holiday_typecode)
		  join employee e using(emp_id)
		  join department d on(e.dept_code=d.dept_code)
		  join rank r on(e.rank_code=r.rank_code)
		 where emp_id=#{empId} and SUBSTR(holiday_start,1,4)=#{year}
	</select>
	
	<!-- 사원별 근태현황 상세조회용 윗부분에 들어갈 정보 -->
	<select id="selectHoli" parameterType="Holiday" resultMap="holidayResultSet">
		select e.emp_name, r.rank_title, d.dept_title, hday, remain_day
		from holiday
		join employee e using (emp_id)
		join rank r on e.rank_code=r.rank_code
		join department d on(e.dept_code=d.dept_code)
		where emp_id = #{empId} and year = #{year}
	</select>
	
	<select id="selectAtList" resultMap="workRecordResult">
		select * from Work_Record
	</select>
	
	<select id="myStatusList" resultMap="useHolidayResult">
		select us.*, ht.* from use_holiday us, HOLIDAY_TYPE ht where us.holiday_typecode=ht.holiday_typecode 		
	</select>
	
	<insert id="clockInAt" parameterType="WorkRecord">	
		insert into Work_Record
		values(seq_wrecord_no.nextval, #{empId}, #{clockIn}, null ,#{workDate})
	</insert>
	
	<update id="clockOutAt" parameterType="WorkRecord">
		update Work_Record
		set 			
			CLOCK_OUT=#{clockOut}	
		where EMP_ID=#{empId} and clock_out is null	
	</update>
	
</mapper>
