<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap id="boardResultSet" type="Board">
		<id column="board_no" property="boardNo"/>
		<result column="emp_id" property="empId"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_content" property="boardContent"/>
		<result column="board_enroll_date" property="boardEnrollDate"/>
		<result column="board_modify_date" property="boardModifyDate"/>
		<result column="board_count" property="boardCount"/>
		<result column="board_status" property="boardStatus"/>
		<result column="board_file_flag" property="boardFileFlag"/>
	</resultMap>
	
	<resultMap id="attachResultSet" type="BoardAttachment">
		<id column="attahcment_no" property="attachmentNo"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="board_type" property="boardType"/>
		<result column="ref_board_no" property="refBoardNo"/>
		<result column="file_Path" property="filePath"/>
	</resultMap>
	
	<resultMap id="replyResultSet" type="Reply">
		<id column="reply_no" property="replyNo"/>
		<result column="emp_id" property="empId"/>
		<result column="ref_bno" property="refBno"/>
		<result column="reply_content" property="replyContent"/>
		<result column="reply_enroll_date" property="replyEnrollDate"/>
		<result column="reply_writer" property="replyWriter"/>
	</resultMap>
	
	<resultMap id="rereplyResultSet" type="ReReply">
		<id column="reply_no" property="replyNo"/>
		<result column="emp_id" property="empId"/>
		<result column="ref_rno" property="refRno"/>
		<result column="reply_content" property="replyContent"/>
		<result column="reply_enroll_date" property="replyEnrollDate"/>
		<result column="reply_writer" property="replyWriter"/>
		<result column="ref_bno" property="refBno"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from board
		 where board_status='Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		select * 
		  from board
		 where board_status='Y'
		 order by board_no desc
	</select>
	
	<select id="searchListCount" parameterType="com.kh.ergate.board.model.vo.SearchCondition" resultType="_int">
		select count(*)
		  from board
		 where board_status='Y'
		    <if test="boardWriter != null">
				AND BOARD_WRITER LIKE '%' || #{boardWriter} || '%'  
			</if>
			<if test="boardTitle != null">
				AND BOARD_TITLE LIKE '%' || #{boardTitle} || '%'
			</if>
			<if test="boardContent != null">
				AND BOARD_CONTENT LIKE '%' || #{boardContent} || '%'
			</if>
	</select>
	
	<select id="searchList" parameterType="com.kh.ergate.board.model.vo.SearchCondition" resultMap="boardResultSet">
		select * 
		  from board
		 where board_status='Y'
		 	<if test="boardWriter != null">
				AND BOARD_WRITER LIKE '%' || #{boardWriter} || '%'  
			</if>
			<if test="boardTitle != null">
				AND BOARD_TITLE LIKE '%' || #{boardTitle} || '%'
			</if>
			<if test="boardContent != null">
				AND BOARD_CONTENT LIKE '%' || #{boardContent} || '%'
			</if>
		 order by board_no desc
	</select>
	<update id="increaseCount" parameterType="_int">
    	update board
    	   set board_count = board_count + 1
    	 where board_no = #{bno} and board_status = 'Y'  
    </update>
    
    <select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
    	select *
    	  from board
    	 where board_no=#{bno}
    </select>
    
    <select id="fileList" parameterType="_int" resultMap="attachResultSet">
		select * 
		  from board_attachment
		 where ref_board_no=#{refBoardNo}
		 order by attachment_no desc
	</select>
	
	<select id="replyList" parameterType="_int" resultMap="replyResultSet">
		select *
		  from board_reply
		 where ref_bno=#{refBno}
		 order by reply_no asc
	</select>
	
	<select id="rereplyList" parameterType="_int" resultMap="rereplyResultSet">
		select *
		  from board_re_reply
		 where ref_rno=#{refRno}
		 order by reply_no asc
	</select>
	
	<select id="afterB" parameterType="_int" resultMap="boardResultSet">
		 <![CDATA[
		select rownum, b.board_no, b.board_title, b.board_writer, b.board_enroll_date 
		 from board b
		 where board_no in 
		(select board_no from board 
		 where board_no > #{refBoardNo})
		and rownum = 1
		and b.board_status = 'Y'
		order by board_no asc
		]]>
	</select>
	
	<select id="beforeB" parameterType="_int" resultMap="boardResultSet">
		 <![CDATA[
		select rownum, b.board_no, b.board_title, b.board_writer, b.board_enroll_date from board b
		where board_no in 
		(select board_no from board
		 where board_no < #{refBoardNo})
		and rownum = 1
		and b.board_status = 'Y'
		order by board_no desc
		]]>
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		insert into Board
		values(seq_board_no.nextval, #{empId}, #{boardWriter}, #{boardTitle}, #{boardContent}, sysdate, sysdate, 0, 'Y', 'Y')
	</insert>
	
	<insert id="insertBoardAttachment" parameterType="BoardAttachment">
		insert into Board_Attachment 
		values(seq_atboard_no.nextval, #{originName}, #{changeName}, 'B', seq_board_no.currval, #{filePath})
	</insert>
	
	<update id="updateBoardFlag">
		update Board set
		board_file_flag = 'N'
	</update>
	
	<insert id="insertReReply" parameterType="ReReply">
		insert into Board_re_reply
		values(seq_brere_no.nextval, #{empId}, #{refRno}, #{replyContent}, sysdate, #{replyWriter}, null)
	</insert>
	
	<select id="ReReply" parameterType="_int" resultMap="rereplyResultSet">
    	select * from 
    	(select rownum,b.* from board_re_reply b where ref_rno=#{refRno} 
    	order by b.reply_no desc) 
    	where rownum=1
    </select>
    
    <insert id="insertReply" parameterType="Reply">
		insert into Board_reply
		values(seq_bre_no.nextval, #{empId}, #{refBno}, #{replyContent}, sysdate, #{replyWriter})
	</insert>
	
	<update id="updateReply" parameterType="Reply">
		update board_Reply set
		reply_Content = #{replyContent},
		reply_Enroll_date = sysdate
		where reply_no = #{replyNo}
	</update>
	
</mapper>







