<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groupMapper">

	<resultMap id="employeeResultSet" type="Employee">
		<id column="EMP_ID" property="empId"/>
		<result column="RANK_CODE" property="rankCode"/>
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="JOB_CODE" property="jobCode"/>
		<result column="EMP_CODE" property="empCode"/>
		<result column="EMP_PWD" property="empPwd"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="HIRE_DATE" property="hireDate"/>
		<result column="EMP_EXTENSION" property="empExtension"/>
		<result column="EMP_FAX" property="empFax"/>
		<result column="EMP_COM_EMAIL" property="empComEmail"/>
		<result column="EMP_PRI_EMAIL" property="empPriEmail"/>
		<result column="EMP_PHONE" property="empPhone"/>
		<result column="EMP_ADDRESS" property="empAddress"/>
		<result column="EMP_ADDRESS_DETAIL" property="empAddressDetail"/>
		<result column="EMP_IMAGE" property="empImage"/>
		<result column="EMP_BIRTHDAY" property="empBirthday"/>
		<result column="RESIGN_FLAG" property="resignFlag"/>
		<result column="RESIGN_DATE" property="resignDate"/>
		<result column="EMP_STATUS" property="empStatus"/>
		<result column="RANK_TITLE" property="rankTitle"/>
		<result column="DEPT_TITLE" property="deptTitle"/>
		<result column="JOB_TITLE" property="jobTitle"/>
	</resultMap>
	
	
	<!-- 조직도 전제 사원 조회 -->
	<select id="selectEmpList" resultMap="employeeResultSet">
		select emp_name, rank_title, job_title, emp_id,dept_title
		  from employee e	
		  join rank r on e.rank_code=r.rank_code
		  join job j on e.job_code=j.job_code
		  join department d on e.dept_code=d.dept_code
		 where resign_flag='N'
		 order by emp_name
	</select>
	
	<!-- 조직도 부서별 사원 조회 -->
	<select id="selectDeptEmpList" parameterType="string" resultMap="employeeResultSet">
		select emp_name, rank_title, job_title, emp_id,dept_title
		  from employee e	
		  join rank r on e.rank_code=r.rank_code
		  join job j on e.job_code=j.job_code
		  join department d on e.dept_code=d.dept_code
		 where resign_flag='N'
	 	<choose>
	 		<when test="keyword.equals('D0')">
	 			and e.dept_code='D0'
	 		</when>
	 		<when test="keyword.equals('D1')">
	 			and e.dept_code='D1'
	 		</when>
	 		<when test="keyword.equals('D2')">
	 			and e.dept_code='D2'
	 		</when>
	 		<when test="keyword.equals('D3')">
	 			and e.dept_code='D3'
	 		</when>
	 		<when test="keyword.equals('D4')">
	 			and e.dept_code='D4'
	 		</when>
	 		<when test="keyword.equals('D5')">
	 			and e.dept_code='D5'
	 		</when>
	 	</choose>
	 	order by emp_name
	</select>
	
	<!-- 조직도 사원 프로필 조회 (오른쪽 영역) -->
	<select id="selectEmpProfile" parameterType="string" resultMap="employeeResultSet">
		select *
		  from employee e
		  join rank r on e.rank_code=r.rank_code
		  join job j on e.job_code=j.job_code
		  join department d on e.dept_code=d.dept_code
		 where emp_id=#{empId} and resign_flag='N'
	</select>
	
	
	
	<!-- 조직도 키워드 검색 -->
	<select id="selectEmpListSearch" parameterType="Search" resultMap="employeeResultSet">
			select emp_name, rank_title, job_title, emp_id, dept_title
		  from employee e	
		  join rank r on e.rank_code=r.rank_code
		  join job j on e.job_code=j.job_code
		  join department d on e.dept_code=d.dept_code
		 where resign_flag='N'
		 <choose>
			 <when test="condition == 'empName'">		
					AND emp_Name like '%' || #{keyword} || '%'
				</when>
				<when test="condition == 'rankTitle'">	
	    			AND rank_title like '%' || #{keyword} || '%'
	           	</when>
	           	<when test="condition == 'jobTitle'">	
	    			AND job_title like '%' || #{keyword} || '%'
	    		</when>
	    		<otherwise>
	    			AND dept_title like '%' || #{keyword} || '%'
	    		</otherwise>
		 </choose>
		order by emp_name		 
	</select>
	
	<!-- 조직도 승인대기 리스트 요청 -->
	<select id="selectRequestList" resultMap="employeeResultSet">
		select emp_id, hire_date, emp_name, emp_phone
		  from employee
	   	 where dept_code is null
	   	 order by hire_date
	</select>
	
	<!-- 조직도 승인대기 사원 프로필 조회용 -->
	<select id="selectGroupRequestDetail" parameterType="string" resultMap="employeeResultSet">
		select *
		  from employee
		 where emp_id=#{empId}
	</select>
	
	<!-- 사원 계정 수정 요청 -->
	<update id="updateGroupEmp" parameterType="Employee">
		update employee
		   set dept_code=#{deptCode}, 
		   	   rank_code=#{rankCode}, 
		   	   job_code=#{jobCode}, 
		   	   emp_extension=#{empExtension}, 
		   	   emp_fax=#{empFax}
		 where emp_id=#{empId}
	</update>
	
	<!-- 계정승인 거절용 -->
	<delete id="noUpdateGroupEmp">
		delete from employee
		where emp_id=#{empId}
	</delete>
	

</mapper>
