<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">

	<resultMap id="emailResultSet" type="Email">
		<id column="mail_no" property="mailNo"/>
		<result column="mail_import_flag" property="mailImportFlag"/>
		<result column="mail_from" property="mailFrom"/>
		<result column="mailname_from" property="mailnameFrom"/>
		<result column="mail_to" property="mailTo"/>
		<result column="mailname_to" property="mailnameTo"/>
		<result column="mail_title" property="mailTitle"/>
		<result column="mail_content" property="mailContent"/>
		<result column="mail_attachment" property="mailAttachment"/>
		<result column="mail_date" property="mailDate"/>
		<result column="mail_read_flag" property="mailReadFlag"/>
		<result column="mail_status" property="mailStatus"/>
	</resultMap>

	<select id="selectListCount" parameterType="String" resultType="_int">
		select count(*)
		  from email
		 where mail_status='Y' and mail_to=#{mailTo}
	</select>
	
	<select id="selectList" parameterType="String" resultMap="emailResultSet">
		select * 
		  from email
		 where mail_status='Y' and mail_to=#{mailTo}
		 order by mail_no desc
	</select>
	
	<select id="fselectListCount" parameterType="String" resultType="_int">
		select count(*)
		  from email
		 where mail_status='Y' and mail_from=#{mailFrom}
	</select>
	
	<select id="fselectList" parameterType="String" resultMap="emailResultSet">
		select * 
		  from email
		 where mail_status='Y' and mail_from=#{mailFrom}
		 order by mail_no desc
	</select>

	<select id="searchListCount" parameterType="com.kh.ergate.mail.model.vo.SearchCondition" resultType="_int">
		select count(*)
		  from email
		 where mail_status='Y'
		    <if test="mailTo != null">
		    	and mail_To=#{mailTo}
		    </if>
		    <if test="mailFrom != null">
		    	and mail_from=#{mailFrom}
		    </if>
		    <if test="mailnameFrom != null">
				AND mailname_from LIKE '%' || #{mailnameFrom} || '%'  
			</if>
			<if test="mailnameTo != null">
				AND mailname_to LIKE '%' || #{mailnameTo} || '%'
			</if>
			<if test="mailTitle != null">
				AND mail_TITLE LIKE '%' || #{mailTitle} || '%'
			</if>
			<if test="mailContent != null">
				AND mail_CONTENT LIKE '%' || #{mailContent} || '%'
			</if>
			
	</select>
	
	<select id="searchList" parameterType="com.kh.ergate.mail.model.vo.SearchCondition" resultMap="emailResultSet">
		select * 
		  from email
		 where mail_status='Y'
		 	<if test="mailTo != null">
		    	and mail_To=#{mailTo}
		    </if>
		    <if test="mailFrom != null">
		    	and mail_from=#{mailFrom}
		    </if>
		 	<if test="mailnameFrom != null">
				AND mailname_From LIKE '%' || #{mailnameFrom} || '%'  
			</if>
			<if test="mailnameTo != null">
				AND mailname_to LIKE '%' || #{mailnameTo} || '%'
			</if>
			<if test="mailTitle != null">
				AND mail_TITLE LIKE '%' || #{mailTitle} || '%'
			</if>
			<if test="mailContent != null">
				AND mail_CONTENT LIKE '%' || #{mailContent} || '%'
			</if>
		 order by mail_no desc
	</select>

</mapper>
