<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="meetingroomMapper">

	<resultMap id="MeetingroomResultSet" type="Meetingroom">
		<id column="MTRM_CODE" property="mtrmCode"/>
		<result column="MTRM_NAME" property="mtrmName"/>
		<result column="MTRM_LOCATION" property="mtrmLocation"/>
		<result column="MTRM_CAPACITY" property="mtrmCapacity"/>
		<result column="MTRM_ENROLL_DATE" property="mtrmEnrollDate"/>
		<result column="MTRM_IMAGE" property="mtrmImage"/>
		<result column="MTRM_STATUS" property="mtrmStatus"/>
	</resultMap>
	
	<resultMap id="MeetingroomReservationResultSet" type="MeetingroomReservation" >
		<id column="MTRM_RESERVE_NO" property="mtrmReserveNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="MTRM_CODE" property="mtrmCode"/>
		<result column="MTRM_RESERVE_DATE" property="mtrmReserveDate"/>
		<result column="DEPT_TITLE" property="deptTitle"/>
		<result column="MTRM_START_DATE" property="mtrmStartDate"/>
		<result column="MTRM_START_TIME" property="mtrmStartTime"/>
		<result column="MTRM_END_DATE" property="mtrmEndDate"/>
		<result column="MTRM_END_TIME" property="mtrmEndTime"/>
		<result column="MTRM_PURPOSE" property="mtrmPurpose"/>
		<result column="MTRM_RESERVE_STATUS" property="mtrmReserveStatus"/>
		<result column="MTRM_NAME" property="mtrmName"/>
		<result column="MTRM_IMAGE" property="mtrmImage"/>
	</resultMap>

	<select id="statusListCount" resultType="_int">
		select count(*)
		  from meetingroom_reservation
		where mtrm_reserve_status='Y'
	</select>

	<!-- 관리자 예약리스트 조회용 -->
	<select id="statusList" resultMap="MeetingroomReservationResultSet">
		select *
		  from meetingroom_reservation
		 where mtrm_reserve_status='Y'
	</select>

	<!--  -->
	<select id="currentStatusList" resultMap="MeetingroomReservationResultSet">
		SELECT *
		FROM MEETINGROOM_RESERVATION
		WHERE MTRM_START_DATE = #{date}
	</select>
	
	
	<select id="selectMtroomDetailListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM MEETINGROOM
		 WHERE MTRM_STATUS = 'Y'
	</select>

	<!-- 회의실 관리 첨 들어가는 페이지 -->
	<select id="selectMtroomDetail" resultMap="MeetingroomResultSet">
		SELECT *
		  FROM MEETINGROOM
		 WHERE MTRM_STATUS = 'Y'
	</select>
	
	<!-- 회의실 예약하기 -->
	<insert id="reserveMtroom" parameterType="MeetingroomReservation">
		insert into meetingroom_reservation 
		values(seq_mreserv_no.nextval, #{empId}, #{mtrmCode}, SYSDATE, #{deptTitle},
			   #{mtrmStartDate}, #{mtrmStartTime},  #{mtrmEndDate}, #{mtrmEndTime}, #{mtrmPurpose}, 'Y')
	</insert>
	
	<!-- 회의실 등록 -->
	<insert id="insertMeetingroom" parameterType="Meetingroom">
		INSERT INTO MEETINGROOM
		VALUES(SEQ_MROOM_NO.NEXTVAL , #{mtrmName}, #{mtrmLocation}, #{mtrmCapacity}, SYSDATE, #{mtrmImage}, 'Y')	
	</insert>

	<select id="selectRvListCount" parameterType="string" resultType="_int">
		select count(*)
          from meetingroom_reservation
         where emp_id=#{empId}
           and mtrm_reserve_status='Y'
	</select>
	
	<!-- 나의 예약현황용 -->
	<select id="myReserveList" parameterType="string" resultMap="MeetingroomReservationResultSet">
		select mtrm_reserve_no, emp_id, mtrm_code, mtrm_reserve_date, dept_title, mtrm_start_date, mtrm_start_time, mtrm_end_date,
           	   mtrm_end_time, mtrm_purpose, mtrm_reserve_status, mtrm_name, mtrm_image
		  from meetingroom_reservation
		  join meetingroom using(mtrm_code)
		 where emp_id = #{empId}
		   and mtrm_reserve_status='Y'
		 order by mtrm_reserve_date desc
	</select>
	
	<update id="cancelReserve" parameterType="string">
		UPDATE MEETINGROOM_RESERVATION
		   SET MTRM_RESERVE_STATUS='N'
		 WHERE MTRM_RESERVE_NO=#{mtrmReserveNo}
	</update>
	
	<update id="updateMeetingroom" parameterType="Meetingroom">
		UPDATE MEETINGROOM
		   SET MTRM_NAME=#{mtrmName},
		   	   MTRM_LOCATION=#{mtrmLocation},
		   	   MTRM_CAPACITY=#{mtrmCapacity}
		 WHERE MTRM_CODE=#{mtrmCode}
	</update>

	<select id="selectMeetingroom" parameterType="string" resultMap="MeetingroomResultSet">
		SELECT *
		  FROM MEETINGROOM
		 WHERE MTRM_CODE=#{mtrmCode}
	</select>
	
	<update id="deleteMeetingroom" parameterType="Meetingroom">
		UPDATE MEETINGROOM
		   SET MTRM_STATUS='N'
		 WHERE MTRM_CODE=#{mtrmCode}
	</update>
	
	
</mapper>
