<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="meetingroomMapper">

	<resultMap id="meetingroomResultSet" type="Meetingroom">
		<id column="MTRM_CODE" property="mtrmCode"/>
		<result column="MTRM_NAME" property="mtrmName"/>
		<result column="MTRM_LOCATION" property="mtrmLocation"/>
		<result column="MTRM_CAPACITY" property="mtrmCapacity"/>
		<result column="MTRM_ENROLL_DATE" property="mtrmEnrollDate"/>
		<result column="MTRM_IMAGE" property="mtrmImage"/>
		<result column="MTRM_STATUS" property="mtrmStatus"/>
	</resultMap>
	
	<resultMap id="meetingroomReservationResultSet" type="MeetingroomReservation" >
		<id column="MTRM_RESERVE_NO" property="mtrmReserveNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="MTRM_CODE" property="mtrmCode"/>
		<result column="MTRM_RESERVE_DATE" property="mtrmReserveDate"/>
		<result column="DEPT_TITLE" property="deptTitle"/>
		<result column="MTRM_START_DATE" property="mtrmStartDate"/>
		<result column="MTRM_START_TIME" property="mtrmStartTime"/>
		<result column="MTRM_END_DATE" property="mtrmEndDate"/>
		<result column="MTRM_END_TIME" property="mtrmEndTime"/>
		<result column="MTRM_PURPOSE" property="mtrmPurpose"/>
		<result column="MTRM_RESERVE_STATUS" property="mtrmReserveStatus"/>
		<result column="MTRM_NAME" property="mtrmName"/>
		<result column="MTRM_IMAGE" property="mtrmImage"/>
		<result column="MTRM_LOCATION" property="mtrmLocation"/>
		<result column="EMP_NAME" property="empName"/>
	</resultMap>
	
	<select id="selectReserveListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
      	  FROM MEETINGROOM_RESERVATION
      	 WHERE EMP_ID=#{empId}
		 	   AND MTRM_RESERVE_STATUS='Y'
	</select>
	
	<select id="currentStatusList" parameterType="string" resultMap="meetingroomReservationResultSet">
		SELECT MTRM_RESERVE_NO, EMP_ID, MTRM_CODE, MTRM_RESERVE_DATE, DEPT_TITLE, MTRM_START_DATE, MTRM_START_TIME, 
			   MTRM_END_DATE, MTRM_END_TIME, MTRM_PURPOSE, MTRM_RESERVE_STATUS, MTRM_NAME, MTRM_LOCATION, MTRM_IMAGE, 
			   EMP_NAME
		  FROM MEETINGROOM_RESERVATION
		  JOIN MEETINGROOM USING(MTRM_CODE)
		  JOIN EMPLOYEE USING(EMP_ID)
		 WHERE MTRM_START_DATE=#{date}
		 	   AND MTRM_RESERVE_STATUS='Y'
	</select>
	
	<select id="myReserveMeetingroom" parameterType="string" resultMap="meetingroomReservationResultSet">
		SELECT MTRM_RESERVE_NO, EMP_ID, MTRM_CODE, MTRM_RESERVE_DATE, DEPT_TITLE, MTRM_START_DATE, MTRM_START_TIME, 
			   MTRM_END_DATE, MTRM_END_TIME, MTRM_PURPOSE, MTRM_RESERVE_STATUS, MTRM_NAME, MTRM_LOCATION, MTRM_IMAGE
		  FROM MEETINGROOM_RESERVATION
		  JOIN MEETINGROOM USING(MTRM_CODE)
		  JOIN EMPLOYEE USING(EMP_ID)
		 WHERE EMP_ID=#{empId}
		 	   AND MTRM_RESERVE_STATUS='Y'
		 ORDER BY MTRM_RESERVE_DATE DESC
	</select>
	
	<update id="cancelReserveMeetingroom" parameterType="_int">
		UPDATE MEETINGROOM_RESERVATION
		   SET MTRM_RESERVE_STATUS='N'
		 WHERE MTRM_RESERVE_NO=#{mtrmReserveNo}
	</update>
	
	<insert id="reserveMeetingroom" parameterType="MeetingroomReservation">
		INSERT INTO MEETINGROOM_RESERVATION
		VALUES(SEQ_MRESERVE_NO.NEXTVAL, #{empId}, #{mtrmCode}, SYSDATE, #{deptTitle}, #{mtrmStartDate}, #{mtrmStartTime},
			   #{mtrmEndDate}, #{mtrmEndTime}, #{mtrmPurpose}, 'Y')
	</insert>
	
	<select id="reserveMeetingroomListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
      	  FROM MEETINGROOM_RESERVATION
      	 WHERE SUBSTR(MTRM_START_DATE,0,7)=#{date}
		 	   AND MTRM_RESERVE_STATUS='Y'
	</select>
	
	<select id="reserveMeetingroomList" parameterType="string" resultMap="meetingroomReservationResultSet">
		SELECT MTRM_RESERVE_NO, EMP_ID, MTRM_CODE, MTRM_RESERVE_DATE, DEPT_TITLE, MTRM_START_DATE, MTRM_START_TIME, 
			   MTRM_END_DATE, MTRM_END_TIME, MTRM_PURPOSE, MTRM_RESERVE_STATUS, MTRM_NAME, MTRM_LOCATION, EMP_NAME
		  FROM MEETINGROOM_RESERVATION
		  JOIN MEETINGROOM USING(MTRM_CODE)
		  JOIN EMPLOYEE USING(EMP_ID)
		 WHERE SUBSTR(MTRM_START_DATE,0,7)=#{date}
		 	   AND MTRM_RESERVE_STATUS='Y'
		 ORDER BY MTRM_RESERVE_DATE
	</select>
	
	<select id="selectMeetingroomListCount" resultType="_int">
		SELECT COUNT(*)
      	  FROM MEETINGROOM
      	 WHERE MTRM_STATUS='Y'
	</select>
	
	<select id="selectMeetingroomList" resultMap="meetingroomResultSet">
		SELECT *
		  FROM MEETINGROOM
		 WHERE MTRM_STATUS='Y'
		 ORDER BY MTRM_ENROLL_DATE DESC
	</select>
	
	<insert id="insertMeetingroom" parameterType="Meetingroom">
		INSERT INTO MEETINGROOM
		VALUES(SEQ_MROOM_NO.NEXTVAL, #{mtrmName}, #{mtrmLocation}, #{mtrmCapacity}, SYSDATE, #{mtrmImage}, 'Y')
	</insert>
	
	<select id="selectMeetingroom" parameterType="string" resultMap="meetingroomResultSet">
		SELECT *
		  FROM MEETINGROOM
		 WHERE MTRM_CODE=#{mtrmCode}
	</select>
	
	<update id="updateMeetingroom" parameterType="Meetingroom">
		UPDATE MEETINGROOM
		   SET MTRM_NAME=#{mtrmName},
		   	   MTRM_LOCATION=#{mtrmLocation},
		   	   MTRM_CAPACITY=#{mtrmCapacity},
		   	   MTRM_IMAGE=#{mtrmImage}
		 WHERE MTRM_CODE=#{mtrmCode}
	</update>
	
	<update id="deleteMeetingroom" parameterType="Meetingroom">
		UPDATE MEETINGROOM
		   SET MTRM_STATUS='N'
		 WHERE MTRM_CODE=#{mtrmCode}
	</update>
	
</mapper>
