<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="meetingroomMapper">

	<resultMap type="Meetingroom" id="MeetingroomResultSet">
		<id column="MTRM_CODE" property="mtrmCode"/>
		<result column="MTRM_NAME" property="mtrmName"/>
		<result column="MTRM_LOCATION" property="mtrmLocation"/>
		<result column="MTRM_CAPACITY" property="mtrmCapacity"/>
		<result column="MTRM_IMAGE" property="mtrmImage"/>
	</resultMap>
	
	<resultMap type="MeetingroomReservation" id="MeetingroomReservationResultSet">
		<id column="MTRM_RESERV_NO" property="mtrmReservNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="MTRM_CODE" property="mtrmCode"/>
		<result column="MTRM_NAME" property="mtrmName"/>
		<result column="MTRM_RESERV_DATE" property="mtrmReservDate"/>
		<result column="MTRM_DEPT_TITLE" property="mtrmDeptTitle"/>
		<result column="MTRM_START_DATE" property="mtrmStartDate"/>
		<result column="MTRM_START_TIME" property="mtrmStartTime"/>
		<result column="MTRM_END_DATE" property="mtrmEndDate"/>
		<result column="MTRM_END_TIME" property="mtrmEndTime"/>
		<result column="MTRM_PURPOSE" property="mtrmPurpose"/>
	</resultMap>

	<select id="StatusListCount" resultType="_int">
		select count(*)
		  from meetingroomReservation
		 where mtrm_reserv_status='Y' 
		  
	</select>

	<select id="statusList" resultMap="MeetingroomReservationResultSet">
		select *
		  from MeetingroomReservation
		 where mtrm_reserv_status='Y'
		 order by mtrm_reserv_no desc
	</select>





</mapper>
