<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scheduleMapper">

  	<resultMap id="ScheduleResult" type="Schedule">
		<id column="schedule_no" property="scheduleNo"/>
		<result column="emp_id" property="empId"/>
		<result column="schedule_title" property="scheduleTitle"/>
		<result column="schedule_content" property="scheduleContent"/>	
		<result column="schedule_startday" property="scheduleStartDay"/>
		<result column="schedule_endday" property="scheduleEndDay"/>	
		<result column="schedule_starttime" property="scheduleStartTime"/>
		<result column="schedule_endtime" property="scheduleEndTime"/>
		<result column="schedule_kind" property="scheduleKind"/>
		<result column="outmeetingroom" property="outMeetingRoom"/>
		<result column="inmeetingroom" property="inMeetingRoom"/>
		<result column="callpeople" property="callPeople"/>
		<result column="joinpeople" property="joinPeople"/>
	</resultMap> 
	  
	
	<insert id="insertSchedule" parameterType="Schedule">	
		insert into schedule
		values(seq_sche_no.nextval, #{empId}, #{scheduleTitle}, #{scheduleContent}, #{scheduleStartDay}, #{scheduleEndDay}, #{scheduleStartTime}, 
		#{scheduleEndTime}, #{scheduleKind}, #{outMeetingRoom}, #{inMeetingRoom}, #{callPeople}, #{joinPeople})
	</insert>
	

	
	<select id="selectScheduleList" resultMap="ScheduleResult">
		select * from schedule
	</select>
	
	<select id="selectScheduleDetail" resultMap="ScheduleResult" parameterType="_int">
		select * from schedule where schedule_no= #{scNo}
	</select>
	
	<update id="updateSchedule" parameterType="Schedule">
		update Schedule
		set 			
			schedule_startday=#{scheduleStartDay},
		    schedule_starttime=#{scheduleStartTime},
		    schedule_endday=#{scheduleEndDay},
		    schedule_endtime=#{scheduleEndTime},
		    outmeetingroom=#{outMeetingRoom},
		    inmeetingroom=#{inMeetingRoom},
		    callpeople=#{callPeople},
		    joinpeople=#{joinPeople},
		    schedule_content=#{scheduleContent}	
		where schedule_no=#{scheduleNo}	 
	
	</update>
	
	<delete id="deleteSchedule" parameterType="_int">
		delete
		from schedule
		where schedule_no=${ScheduleNo}
	</delete>

</mapper>