<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="signMapper">
	<resultMap type="SignDocument" id="signDocResultSet">
		<id column="DOCUMENT_NO" property="documentNo"/>
		<result column="SIGN_TYPE_NO" property="signTypeNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="SIGN_TYPE_NAME" property="signTypeName"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="DEPT_TITLE" property="deptTitle"/>
		<result column="SIGN_TITLE" property="signTitle"/>
		<result column="SIGN_CONTENT" property="signContent"/>
		<result column="DRAFT_DATE" property="draftDate"/>
		<result column="DOC_STATUS" property="docStatus"/>
		<result column="STATUS" property="status"/>
		<result column="EXPENSE_STARTDATE" property="expenseStartDate"/>
		<result column="EXPENSE_ENDDATE" property="expenseEndDate"/>
		<result column="SIGN_STEP" property="signStep"/>
		<result column="SIGN_STATUS" property="signStatus"/>
		<result column="HOLIDAY_TYPE" property="holidayType"/>
		<result column="HOLIDAY_START" property="holidayStart"/>
		<result column="HOLIDAY_END" property="holidayEnd"/>
		<result column="HOLIDAY_USECOUNT" property="holidayUsecount"/>
		<result column="SIGN_TYPE" property="signType"/>
	</resultMap>
	
	<resultMap type="SignAttachment" id="signAttResultSet">
		<id column="FILE_NO" property="fileNo"/>
		<result column="REF_DOC_NO" property="refDocNo" />
		<result column="FILE_PATH" property="filePath" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
	</resultMap>
	
	<resultMap type="Signer" id="signSgResultSet">
		<result column="DOCUMENT_NO" property="documentNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="SIGN_TURN" property="signTurn"/>
		<result column="SIGN_TYPE" property="signType"/>
		<result column="SIGNED" property="signed"/>
		<result column="JOB_TITLE" property="jobTitle"/>
	</resultMap>

	<select id="selectElistCount" resultType="_int">
	<![CDATA[
		SELECT COUNT(*)
		  FROM SIGN_DOCUMENT
        WHERE SIGN_STATUS != 0 AND
              TO_CHAR(TRUNC(SYSDATE,'MM'),'YYYYMMDD') <= DRAFT_DATE AND
              LAST_DAY(SYSDATE) >= DRAFT_DATE	
	]]>
	</select>
 	
	<select id="selectExpenseList" resultMap="signDocResultSet">
	<![CDATA[
		SELECT * 
		  FROM SIGN_DOCUMENT
		 WHERE STATUS ='Y' AND
               SIGN_STATUS != 0 AND
               SIGN_TYPE_NAME = '지출결의서' AND
               TO_CHAR(TRUNC(SYSDATE,'MM'),'YYYYMMDD') <= DRAFT_DATE AND
              LAST_DAY(SYSDATE) >= DRAFT_DATE
		 ORDER BY DRAFT_DATE DESC
	]]>	 
	</select>
	
	<select id="searchListCount" parameterType="com.kh.ergate.sign.model.vo.SignDateSearch" resultType="_int">
		SELECT COUNT(*)
		  FROM SIGN_DOCUMENT
		WHERE EXTRACT(YEAR FROM DRAFT_DATE) = #{year} AND
              EXTRACT(MONTH FROM DRAFT_DATE) = #{month}
              <if test="condition == 0 ">
              	AND EMP_ID = #{empId}
              </if>
              <if test="condition == 1">
              	AND SIGN_TYPE_NO = 0
              </if>
               <if test="condition == 2">
              	AND SIGN_TYPE_NO IN(1,2)
              </if>
	</select>
	
	<select id="searchList" parameterType="com.kh.ergate.sign.model.vo.SignDateSearch" resultMap="signDocResultSet">
		SELECT *
		  FROM SIGN_DOCUMENT
		WHERE EXTRACT(YEAR FROM DRAFT_DATE) = #{year} AND
              EXTRACT(MONTH FROM DRAFT_DATE) = #{month}
              <if test="condition == 0 ">
              	AND EMP_ID = #{empId}
              </if>
              <if test="condition == 1">
              	AND SIGN_TYPE_NO = 0
              </if>
              <if test="condition == 2">
              	AND SIGN_TYPE_NO IN(1,2)
              </if>
        ORDER BY DRAFT_DATE DESC 
	</select>
	
	<select id="signDetail" parameterType="SignDocument" resultMap="signDocResultSet">
		SELECT *
		  FROM SIGN_DOCUMENT
		WHERE DOCUMENT_NO = #{documentNo}
		  <if test="signTypeNo == 0">
		  	AND SIGN_TYPE_NO = 0
		  </if>
	</select>
	
	<select id="signAttachmentList" parameterType="SignDocument" resultMap="signAttResultSet">
		SELECT *
		  FROM SIGN_ATTACHMENT
		WHERE REF_DOC_NO = #{documentNo}
	</select>
	
	<select id="signDetailSigner" parameterType="SignDocument" resultMap="signSgResultSet">
		SELECT J.JOB_TITLE,S.DOCUMENT_NO,S.EMP_ID,S.EMP_NAME,S.SIGN_TURN,S.SIGN_TYPE,S.SIGNED
		  FROM SIGNER S
		  JOIN EMPLOYEE E ON(S.EMP_ID=E.EMP_ID)
		  JOIN JOB J ON(E.JOB_CODE=J.JOB_CODE)
		 WHERE S.DOCUMENT_NO = #{documentNo}
		 ORDER BY SIGN_TURN 
	</select>
	
	<insert id="insertDocument" parameterType="SignDocument">
		INSERT INTO SIGN_DOCUMENT(DOCUMENT_NO,SIGN_TYPE_NO,EMP_ID,SIGN_TYPE_NAME,EMP_NAME,DEPT_TITLE,
								  SIGN_TITLE,SIGN_CONTENT,DRAFT_DATE,DOC_STATUS,STATUS,EXPENSE_STARTDATE,
								  EXPENSE_ENDDATE,SIGN_STEP,SIGN_STATUS,HOLIDAY_TYPE,HOLIDAY_START,
								  HOLIDAY_END,HOLIDAY_USECOUNT)
		VALUES (#{documentNo},#{signTypeNo},#{empId},#{signTypeName},#{empName},#{deptTitle},#{signTitle},#{signContent},SYSDATE,2,'Y',#{expenseStartDate},#{expenseEndDate},0,0,#{holidayType},#{holidayStart},#{holidayEnd},#{holidayUsecount})
	</insert>
	
	<select id="selectMyDocument" parameterType="string" resultMap="signDocResultSet">
		SELECT *
		 FROM (SELECT *
      		   FROM SIGN_DOCUMENT
      		   ORDER BY DRAFT_DATE DESC)
	    WHERE DOC_STATUS=0 AND
      		  EMP_ID=#{empId}
	</select>
	
	<insert id="insertSigner" parameterType="Signer">
		INSERT INTO SIGNER(DOCUMENT_NO,EMP_ID,EMP_NAME,SIGN_TURN,SIGN_TYPE,SIGNED)
		VALUES(#{documentNo},#{empId},#{empName},#{signTurn},#{signType},'N')
		
	</insert>
	
	<insert id="insertSignAttachment" parameterType="SignAttachment">
		INSERT INTO SIGN_ATTACHMENT(FILE_NO,REF_DOC_NO,ORIGIN_NAME,CHANGE_NAME)
		VALUES (SEQ_SDOC_NO.NEXTVAL,#{refDocNo},#{originName},#{changeName})
	</insert>
	
	<!-- 사용자 잔여연차 조회용 -->
	<select id="selectRemainHoliday" parameterType="string" resultType="_int">
		SELECT REMAIN_DAY
		  FROM HOLIDAY
		WHERE EMP_ID = #{empId} AND
      		  YEAR = TO_CHAR(SYSDATE, 'YYYY')
	</select>
	
	<select id="selectRlistCount" parameterType="com.kh.ergate.sign.model.vo.SignDateSearch" resultType="_int">
		SELECT COUNT(*)
		  FROM SIGN_DOCUMENT
		WHERE EMP_ID = #{empId} AND
      		  EXTRACT(YEAR FROM DRAFT_DATE) = #{year} AND
      		  EXTRACT(MONTH FROM DRAFT_DATE) = #{month}
	</select>
	
	<select id="reportList" parameterType="com.kh.ergate.sign.model.vo.SignDateSearch" resultMap="signDocResultSet">
		SELECT *
		  FROM SIGN_DOCUMENT
		WHERE EMP_ID = #{empId} AND
      		  EXTRACT(YEAR FROM DRAFT_DATE) = #{year} AND
      		  EXTRACT(MONTH FROM DRAFT_DATE) = #{month}
	</select>
	
	<!-- 진행결재함 게시글 수 조회용 -->
	<select id="selectOlistCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		  FROM SIGN_DOCUMENT
		WHERE EMP_ID = #{empId} AND
      		  SIGN_STATUS = 0
	</select>
	
	<!-- 진행결재함 리스트 조회용 -->
	<select id="ongoingList" parameterType="string" resultMap="signDocResultSet">
		SELECT *
		  FROM SIGN_DOCUMENT
		WHERE EMP_ID = #{empId} AND
      		  SIGN_STATUS = 0
	</select>
	
	<!-- 결재대기함 게시글 수 조회용 -->
	<select id="selectWlistCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		 FROM SIGN_DOCUMENT SD
	  	 JOIN SIGNER SG ON(SD.DOCUMENT_NO=SG.DOCUMENT_NO)
		WHERE SG.EMP_ID = #{empId} AND
      		  SD.SIGN_STATUS=0
	</select>
	
	<!-- 결재대기함 리스트 조회용 -->
	<select id="selectWaitingList" parameterType="string" resultMap="signDocResultSet">
		SELECT SD.DOCUMENT_NO,SD.SIGN_TYPE_NO,SD.EMP_ID,SD.SIGN_TYPE_NAME,SD.EMP_NAME,SD.DEPT_TITLE,SD.SIGN_TITLE,SD.DRAFT_DATE,SD.SIGN_STEP,SD.SIGN_STATUS,SG.SIGN_TYPE
		 FROM SIGN_DOCUMENT SD
	  	 JOIN SIGNER SG ON(SD.DOCUMENT_NO=SG.DOCUMENT_NO)
		WHERE SG.EMP_ID = #{empId} AND
      		  SD.SIGN_STATUS=0
	</select>
	
	<!-- 결재자 - 결재상태 업데이트용 -->
	<update id="updateSign" parameterType="Signer">
		UPDATE SIGNER
		 SET SIGNED = 'Y'
		WHERE DOCUMENT_NO = #{documentNo} AND 
      		  EMP_ID = #{empId}
	</update>
	
	<!--  결재문서 -결재상태 업데이트용 -->
	<update id="updateSignDoc" parameterType="Signer">
	UPDATE SIGN_DOCUMENT
	  SET SIGN_STATUS = 1
	WHERE DOCUMENT_NO = #{documentNo}
	</update>
</mapper>
