<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="signMapper">
	<resultMap type="SignDocument" id="signDocResultSet">
		<id column="DOCUMENT_NO" property="documentNo"/>
		<result column="SIGN_TYPE_NO" property="signTypeNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="SIGN_TYPE_NAME" property="signTypeName"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="DEPT_TITLE" property="deptTitle"/>
		<result column="SIGN_TITLE" property="signTitle"/>
		<result column="SIGN_CONTENT" property="signContent"/>
		<result column="DRAFT_DATE" property="draftDate"/>
		<result column="DOC_STATUS" property="docStatus"/>
		<result column="STATUS" property="status"/>
		<result column="EXPENSE_STARTDATE" property="expenseStartDate"/>
		<result column="EXPENSE_ENDDATE" property="expenseEndDate"/>
		<result column="SIGN_STEP" property="signStep"/>
		<result column="SIGN_STATUS" property="signStatus"/>
		<result column="HOLIDAY_TYPE" property="holidayType"/>
		<result column="HOLIDAY_START" property="holidayStart"/>
		<result column="HOLIDAY_END" property="holidayEnd"/>
		<result column="HOLIDAY_USECOUNT" property="holidayUsecount"/>
	</resultMap>
	
	<resultMap type="SignAttachment" id="signAttResultSet">
		<id column="FILE_NO" property="fileNo"/>
		<result column="REF_DOC_NO" property="refDocNo" />
		<result column="FILE_PATH" property="filePath" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
	</resultMap>
	
	<resultMap type="Signer" id="signSgResultSet">
		<result column="DOCUMENT_NO" property="documentNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="SIGN_TURN" property="signTurn"/>
		<result column="SIGN_TYPE" property="signType"/>
		<result column="SIGNED" property="signed"/>
		<result column="JOB_TITLE" property="jobTitle"/>
	</resultMap>

	<select id="selectElistCount" resultType="_int">
	<![CDATA[
		SELECT COUNT(*)
		  FROM SIGN_DOCUMENT
        WHERE SIGN_STATUS != 0 AND
              TO_CHAR(TRUNC(SYSDATE,'MM'),'YYYYMMDD') <= DRAFT_DATE AND
              LAST_DAY(SYSDATE) >= DRAFT_DATE	
	]]>
	</select>
 	
	<select id="selectExpenseList" resultMap="signDocResultSet">
	<![CDATA[
		SELECT * 
		  FROM SIGN_DOCUMENT
		 WHERE STATUS ='Y' AND
               SIGN_STATUS != 0 AND
               SIGN_TYPE_NAME = '지출결의서' AND
               TO_CHAR(TRUNC(SYSDATE,'MM'),'YYYYMMDD') <= DRAFT_DATE AND
              LAST_DAY(SYSDATE) >= DRAFT_DATE
		 ORDER BY DRAFT_DATE DESC
	]]>	 
	</select>
	
	<select id="searchListCount" parameterType="com.kh.ergate.sign.model.vo.SignDateSearch" resultType="_int">
		SELECT COUNT(*)
		  FROM SIGN_DOCUMENT
		WHERE EXTRACT(YEAR FROM DRAFT_DATE) = #{year} AND
              EXTRACT(MONTH FROM DRAFT_DATE) = #{month}
              <if test="condition == 0 ">
              	AND EMP_ID = #{empId}
              </if>
              <if test="condition == 1">
              	AND SIGN_TYPE_NO = 0
              </if>
	</select>
	
	<select id="searchList" parameterType="com.kh.ergate.sign.model.vo.SignDateSearch" resultMap="signDocResultSet">
		SELECT *
		  FROM SIGN_DOCUMENT
		WHERE EXTRACT(YEAR FROM DRAFT_DATE) = #{year} AND
              EXTRACT(MONTH FROM DRAFT_DATE) = #{month}
              <if test="condition == 0 ">
              	AND EMP_ID = #{empId}
              </if>
              <if test="condition == 1">
              	AND SIGN_TYPE_NO = 0
              </if>
	</select>
	
	<select id="signDetail" parameterType="SignDocument" resultMap="signDocResultSet">
		SELECT *
		  FROM SIGN_DOCUMENT
		WHERE DOCUMENT_NO = #{documentNo}
		  <if test="signTypeNo == 0">
		  	AND SIGN_TYPE_NO = 0
		  </if>
	</select>
	
	<select id="signAttachmentList" parameterType="SignDocument" resultMap="signAttResultSet">
		SELECT *
		  FROM SIGN_ATTACHMENT
		WHERE REF_DOC_NO = #{documentNo}
	</select>
	
	<select id="signDetailSigner" parameterType="SignDocument" resultMap="signSgResultSet">
		SELECT J.JOB_TITLE,S.DOCUMENT_NO,S.EMP_ID,S.EMP_NAME,S.SIGN_TURN,S.SIGN_TYPE,S.SIGNED
		  FROM SIGNER S
		  JOIN EMPLOYEE E ON(S.EMP_ID=E.EMP_ID)
		  JOIN JOB J ON(E.JOB_CODE=J.JOB_CODE)
		 WHERE S.DOCUMENT_NO = #{documentNo}
		 ORDER BY SIGN_TURN 
	</select>
</mapper>
